:root
{
    --primario:#bd81h3;
    --primarioOscuri:#1b475d;
    --secundario:#ffce00;
    --secundarioOscuro:#e9bb02;
    --blanco:#fff;
    --negro:#000;

    --fuentePrincipal: 'Staatliches', cursive;
}

